@model IEnumerable<ConsultorioSeguros.Models.SegurosCliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes Asegurados</h1>

<p class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a asp-action="Create" class="btn btn-primary"> Agregar Asegurado</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seguro.NombreSeguro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.NombreCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seguro.NombreSeguro)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@item.Id"><i class="bi bi-pencil"></i></a>
                    <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
